body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.header{
  background-Color: #05032b;
   width: 100%;
  height: 60px
}
.headertext{
  padding: 10px 20px;
   text-align: center;
    color: white;
     font-size: 30px
}

.background {
  background-color: #afadd6;
  background-size: cover;
  height: 400px;
  width: 100%; 
}

.center {
  margin: auto;
  width: 50%;
  padding: 10px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
}

.questionlist {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  /* text-align: center; */
  margin-left: 500px
}

.input{
  width: 25%;
  padding: 12px 20px;
  margin-top: 8px;
  margin-bottom: 8px;
  margin-left: 400px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.button {
  background-color: #4286f4; /* Green */
  border: none;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 8px;
}

.score {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  /* text-align: center; */
  margin-left: 500px
}

.comment{
  margin-top: 25px;
  width: 50%;
  padding: 10px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
}